.Home {
  font-weight: bold;
  text-decoration: underline;
}

.artistImage {
  position: relative;
  width: 100%;
}

.artistName {
  margin-top: -20px;
  width: 100%;
  color: white;
  font-family: Helvetica;
  font-size: 9px;
}

.albumName {
  margin-top: -20px;
  width: 100%;
  color: white;
  font-family: Helvetica;
  font-size: 9px;
}

.fanName {
  margin-top: -20px;
  width: 100%;
  color: white;
  font-family: Helvetica;
  font-size: 9px;
}

.plays {
  margin-top: -10px;
  width: 100%;
  color: white;
  font-family: Helvetica;
  font-size: 7px;
}

img {
  width: 100%;
}
